<div class="index">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="post ">
      <div class="card-columns">
        <% @posts.each do |post| %>
          <div class="card">
            <%=link_to image_tag(root_path+"uploads/"+post.img_name, class: "card-img-top", alt: "Card image"), posts_view_path(post) %>
            <div class="like"><i class="far fa-heart"></i></div>
          </div>
        <% end %>
      </div>
    </div>
</div>