<div class="index">
    <div class="post row">
    <% @posts.each do |post| %>
      <tr>
        <div class="entry col-sm-2">
            <div class="imagen"><%=link_to image_tag(root_path+"uploads/"+post.img_name), posts_view_path(post) %></div>
            <div class="title"><%= post.title %></div>
        </div>
      </tr>
    <% end %>
    </div>
</div>