<%= render "layouts/header" %>
<div class="index">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="post ">
      <div class="card-columns">
        <% @posts.each do |post| %>
          <div class="card">
            <%=link_to cl_image_tag(post.img_name+post.ext, class: "card-img-top", alt: "Card image"), posts_view_path(post) %>
            <% if user_signed_in? %>
              <div class="like uncheck">
                <i class="far fa-heart"></i>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
<script>
  $( ".like" ).on( "click", function(e) {
    if($(this).hasClass("uncheck")) {
      $(this).removeClass("uncheck");
      $(this).addClass("check");
      $(this).html("<i class='fas fa-heart'></i>");
    } else {
      $(this).addClass("uncheck");
      $(this).removeClass("check");
      $(this).html("<i class='far fa-heart'></i>");
    }
  });
</script>