<%= render "layouts/header" %>
<div class="edit_post container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <h1>Editar Post</h1>
    <%= render 'posts/form', action: 'update' %>
</div>
