<div class="view_post container">
    <div class="row botones">
        <i class="fas fa-pencil-alt editar"></i>
        <i class="fas fa-trash eliminar"></i>
    </div>
    <div class="row imagen">
        <%= image_tag(root_path+"uploads/"+@post.img_name) %>
    </div>
    <div class="row titulo"><h1><%= @post.title %></h1></div>
    <div class="row descripcion"><%= @post.description %></div>
</div>

