.header {
    padding: 15px 15px;
    font-family: 'Bree Serif', serif;
    .logo {
        margin-top: -6px;
        margin-left: 10px;
    }
    .barra {
        width: 96%;
        padding-left: 5px;
        padding-right: 25px;
        form {
            width: 100%;
        }
        .link, .menu, .user {
            padding-left: 20px;
            font-size: 18px;
            margin-top: 6px;
            color: gray;
            a {
                text-decoration: none;
                color: gray;
            }
        }
        .link {
            text-align: left;
        }
        .menu {
            cursor: pointer;
            text-align: right;
        }
        .user {
            text-align: center;
        }
        .dropdown-menu {
            margin-left: -40px;
        }
        .inicioSesion {
            text-align: right;
        }
    }
}