.header {
    padding: 15px 15px;
    font-family: 'Bree Serif', serif;
    .logo {
        margin-top: -6px;
        margin-left: 10px;
    }
    .barra {
        width: 96%;
        padding-left: 5px;
        padding-right: 25px;
        .link {
            padding-left: 20px;
            font-size: 18px;
            margin-top: 5px;
            color: gray;
            a {
                text-decoration: none;
                color: gray;
            }
        }
        .menu {
            cursor: pointer;
        }
        .dropdown-menu {
            margin-left: -120px;
        }
    }
}