<div class="header row">
    <div class="logo">
        <%=image_tag("pinterest.jpg", style:"width:60px; height:50px")%> 
    </div>
    <div class="barra input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        <div class="link"><%=link_to "Inicio", root_path%></div>
        <div class="link">Adalberto</div>
        <div class="dropdown">
            <div class="link menu" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></div>
            <div class="dropdown-menu">
                <%=link_to "Nuevo Post", posts_new_path, class:"dropdown-item"%>
                <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>